<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.nimple"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="de.nimple.NimpleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_sag"
        android:label="@string/app_name"
        android:theme="@style/Theme.Nimple">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="de.nimple.ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.nimple.ui.edit.EditNimpleCodeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.nimple.ui.pro.ProActivity"
            android:label="@string/pro_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.nimple.ui.pro.ProActivatedActivity"
            android:label="@string/pro_activated_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.nimple.ui.about.AboutNimpleActivity"
            android:label="@string/about_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.nimple.ui.contact.DisplayContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.nimple.ui.edit.social.SocialXingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.nimple.ui.edit.social.SocialTwitterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.nimple.ui.edit.social.SocialLinkedinActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN_NIMPLE_CODE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>